/*GLOBALS*/
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: arial;
}

h2 {
  font-family: helvetica;
  color: #1f3f68;
}

ul {
  list-style: none;
}

.width-layout {
  width: 100%;
  max-width: 940px;
  margin: auto;
}

.wrapper {
  overflow: hidden;
}

/*HEADER*/
header .contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px 30px;
}

.navegador li {
  display: inline;
  font-family: helvetica;
  font-weight: bold;
  padding: 12px;
}

.navegador a {
  text-decoration: none;
  color: #1f3f68;
}

/*BANNER*/
.banner {
  position: relative;
  text-align: center;
  margin-bottom: 42px;
}

.titulo,
.texto {
  position: absolute;
  width: 100%;
  color: white;
}

.titulo {
  bottom: 160px;
}

.texto {
  bottom: 100px;
}

/*BUSCADOR*/
.buscador {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.buscador .lupa {
  position: absolute;
  left: 230px;
  top: 20px;
}

.buscador .searchtexto {
  position: absolute;
  left: 270px;
  top: 20px;
  font-family: arial;
  color: #1f3f68;
  opacity: 0.6;
}

/*POPULAR*/
.popular h4 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #356ead;
  opacity: 0.8;
  margin-bottom: 34px;
}

.popular .h4{
  margin-top: 60px;
  margin-left: 660px;
}

.articulo1 {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.contenedor2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-right: 20px;
}

.contenedor2 p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.contenedor2 h2{
  font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 46px;
color: #1F3F68;
}

.articulo1 .articulo1-imagen {
  width: 70%;
}

.datos-autor {
  display: flex;
  justify-content: space-between;
}

.datos-autor .autor .p1{
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #1F3F68;
}

.datos-autor .autor .p2{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #1F3F68;
opacity: 0.4;

}

.contenedor3 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 20px;

}

.contenedor3 p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
}

.contenedor3 h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px; 
  letter-spacing: 0.04em; 
  color: #1F3F68;
  margin-top: 10px;
  margin-bottom: 10px;
}

.datos-autor2 {
  display: flex;
  justify-content: space-between;
}

.articulo2 .parrafo,
.articulo3 .parrafo,
.articulo4 .parrafo {
  margin-bottom: 30px;
}

.datos-autor2 .autor .p3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px; 
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.datos-autor2 .autor .p4 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; 
  letter-spacing: 0.04em; 
  color: rgba(0, 0, 0, 0.4);